    <div class="container">
      <div class="col-sm-6">
        <div style="text-align: left;width: 613px; padding: 0;">
            <h1 style="font: normal 179% 'century gothic', arial, sans-serif;color: #43423F;margin: 0 0 15px 0; padding: 15px 0 5px 0;">About Us</h1>
            <span style="float: left;width: auto; margin-right: 10px;"><img style="width:100px;" src="images/maleicon.jpeg"  alt="example graphic" /></span>
            <p>
              <div style="font-weight:bold">Zhigang Hao</div> Role: Designer Email: zgh@abc.com<br>
              Worked on the prototype and layout design of the project. Also responsible for
              the menu part of the project.
              </p>
            <p /><p></p>
        
      </div>
    </div>
  