<div class="container">
    <div class="col-sm-6">
      <div style="text-align: left;width: 613px; padding: 0;">
     <div id="content" class="contentSection">
     <h2>Thank you for shopping with us</h2>
     <a href="products">GO BACK SHOPPING</a>
          </div>
    </div>
 </div>